* {
    box-sizing: border-box;
  }
  
header{
    font-size: 50px;
    padding: 40px;
    text-align: center;
    background-color: transparent;
    color: whitesmoke;

}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  body{
    background-image: url("./Denver-skyline.jpeg");
    background-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    border-bottom: 2px;
    padding: 20px;
    align-items: center;
    
}
.buttons{
    flex-direction: row;
    display:inline;
    justify-content: center;
}

.button{
    background-color: transparent;
    opacity: 93%;
    width: 400px;
    border: solid;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}